@import"./footer.css";
@font-face {
    font-family: "F1_bold";
    src: url("../font/Formula1-Bold.otf");
    /* src: url("https://alldata.sgp1.digitaloceanspaces.com/fonts/NotoSerifTC/NotoSerifTC-Light.otf"); */
}

@font-face {
    font-family: "F1_regular";
    src: url("../font/Formula1-Regular.otf");
    /* src: url("https://alldata.sgp1.digitaloceanspaces.com/fonts/NotoSerifTC/NotoSerifTC-Light.otf"); */
}

div.container {
    width: 1200px;
    font-size: 0px;
    margin: 0 auto;
}

header.main_header {
    /* border: 1px solid red; */
    margin: 0 auto;
    display: inline-block;
    font-size: 0;
    min-height: 100%;
    width: 1200px;
    background-image: url(../pictures/banner_img.png);
    background-size: 100% 5px;
    background-repeat: no-repeat;
}


/* header.main_header div.background_img {
background-image: url(../pictures/banner_img.png);
background-size: contain;
background-repeat: no-repeat;
} */

img.banner_box {
    /* border: 3px solid green; */
    min-height: 100%;
    width: 100%;
}

header.main_header nav.main {
    display: inline-block;
    vertical-align: middle;
    min-height: 100%;
    width: 100%;
}


/* header.main_header a.logo_img img{
border: 2px solid green;
} */

header.main_header nav.main_nav ul.link_list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
    /* border: 3px solid purple; */
    width: 100%;
    font-size: 20px;
    display: block;
    /* padding-bottom: 10px; */
    font-family: "f1_bold";
}

header.main_header nav.main_nav ul.link_list>li {
    display: inline-block;
}

header.main_header nav.main_nav ul.link_list>li>a {
    /* border: 2px solid yellow; */
    display: inline-block;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    margin-left: 60px;
    color: black;
    padding-top: 5px;
}

header.main_header nav.main_nav ul.link_list>li>a.logo_img {
    /* border: 1px solid fuchsia; */
    margin-left: 0;
    padding-top: 18px;
    margin-bottom: 10px;
}

header.main_header ul.alert {
    font-size: 14px;
    margin: 0px;
    list-style: none;
    background-color: black;
    opacity: 0.8;
    color: white;
    height: 24px;
    padding: 0%;
}

header.main_header ul.alert>li {
    vertical-align: middle;
    padding-top: 3.5px;
    padding-left: 20px;
    font-family: "F1_regular";
}

header.main_header nav.main_nav ul.link_list>li>a.b_n {
    /* border: 1px solid fuchsia; */
    color: rgb(111, 177, 12);
}

img.img_flow {
    /* border: 1px solid brown; */
    min-height: 100%;
    width: 100%;
    font-size: 0px;
    position: relative;
    /* border: 2px solid red; */
}

div.pic_container>h1 {
    position: absolute;
    font-size: 50px;
    font-family: f1_bold;
    z-index: 1;
    top: 25%;
    margin: 0;
    margin-left: 20px;
}

div.banner1 {
    background: rgba(0, 0, 0, 0.07);
    margin: 0;
}

div.banner1>h1 {
    color: black;
    font-family: f1_bold;
    font-size: 50px;
    margin: 0;
    opacity: 0.3;
    padding-bottom: 8px;
    text-align: left;
    width: 200px;
    display: inline-block;
}

div.banner1>h3 {
    color: black;
    font-size: 30px;
    margin: 0;
    font-family: 'Arimo', sans-serif;
    vertical-align: middle;
    display: inline-block;
    padding-bottom: 20px;
    padding-left: 24%;
}

ul.car_list {
    padding-top: 15px;
    text-align: center;
    padding: 0;
}

ul.car_list li {
    font-size: 12px;
    list-style: none;
    text-decoration: none;
    display: inline-block;
    margin: 10px;
}

div.selected {
    position: relative;
    height: 270px;
}

div.selected>h1 {
    font-size: 50px;
    background: rgba(0, 0, 0, 0.07);
    font-family: f1_bold;
    text-align: right;
    margin-top: 0;
    color: rgb(216, 40, 28);
    margin-bottom: 10px;
    padding-right: 30px;
}

div.selected ul.price {
    font-family: f1_regular;
    font-size: 18px;
    list-style: none;
    line-height: 1.5;
    position: absolute;
    right: 20%;
    top: 22%;
}

div.selected ul.price li.charge {
    color: rgb(216, 40, 28);
    font-size: 25px;
}

input.count {
    border-width: 10px;
    border: 1px solid red;
}

div.selected>img {
    margin-top: 10px;
}

div.banner2 {
    background: rgba(0, 0, 0, 0.07);
    margin: 0;
}

div.banner2>h1 {
    color: black;
    font-family: f1_bold;
    font-size: 50px;
    margin: 0;
    opacity: 0.3;
    padding-bottom: 8px;
    text-align: left;
    width: 200px;
    display: inline-block;
}

div.banner2>h3 {
    color: black;
    font-size: 30px;
    margin: 0;
    font-family: 'Arimo', sans-serif;
    vertical-align: middle;
    display: inline-block;
    padding-bottom: 20px;
    padding-left: 16%;
}

div.select_later {
    color: black;
    font-size: 20px;
    font-family: f1_regular;
    display: inline-block;
    vertical-align: top;
    margin-left: 10%;
    margin-top: 5%;
}

div.select_later>p {
    color: black;
    font-size: 14px;
    font-family: 'Arimo', sans-serif;
    display: inline-block;
    vertical-align: top;
    width: 300px;
    line-height: 1.5;
    margin-left: 28px;
}

div.banner3 {
    background: rgba(0, 0, 0, 0.07);
    margin: 0;
}

div.banner3>h1 {
    color: black;
    font-family: f1_bold;
    font-size: 50px;
    margin: 0;
    opacity: 0.3;
    padding-bottom: 8px;
    text-align: left;
    width: 200px;
    display: inline-block;
}

div.banner3>h3 {
    color: black;
    font-size: 30px;
    margin: 0;
    font-family: 'Arimo', sans-serif;
    vertical-align: middle;
    display: inline-block;
    padding-bottom: 20px;
    padding-left: 22.5%;
}

ul.info {
    text-align: center;
    padding: 0;
    margin: 0px;
}

ul.info>li {
    display: inline-block;
    padding: 0;
    margin: 0;
    list-style: none;
    margin: 20px;
}

div.button a.sum {
    text-align: center;
}

a.sum {
    font-size: 30px;
    font-family: f1_regular;
    text-decoration: none;
    text-align: center;
    display: block;
    /* border: 2px solid green; */
    width: 150px;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
    color: white;
    background-color: rgb(111, 177, 12);
    margin-bottom: 15px;
    padding-left: 4px;
    padding-bottom: 2px;
}